.Skills {
    background-color: black;
    color: white;

    &__Container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 1440px;
        height: 100%;
        margin: 0 auto;
    }

    &__Left {
        width: 50%;
    }

    &__Title {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 64px;
    }

    &__Description {
        margin-bottom: 2rem;
    }

    &__Right {
        width: 50%;
    }
}