.Skills {
    background-color: black;
    color: white;

    &__Container {
        padding: 2rem;

        @media only screen and (min-width: 1024px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            height: 100%;
            margin: 0 auto;
        }

        @media only screen and (min-width: 1440px) {
            max-width: 1024px;
        }

        @media only screen and (min-width: 1920px) {
            max-width: 1440px;
        }
    }

    &__Left {
        width: 50%;
    }

    &__Title {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 64px;
    }

    &__Description {
        margin-bottom: 2rem;
    }

    &__Right {
        width: 50%;
    }
}