.Skills {
    background-color: black;
    color: white;

    &__Container {
        padding: 2rem;

        @media only screen and (min-width: 1024px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            height: 100%;
            margin: 0 auto;
        }

        @media only screen and (min-width: 1440px) {
            max-width: 1024px;
        }

        @media only screen and (min-width: 1920px) {
            max-width: 1440px;
        }
    }

    &__Left {
        width: 100%;

        @media only screen and (min-width: 1024px) {
            width: 50%;
        }
    }

    &__Title {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 32px;
        
        @media only screen and (min-width: 1024px) {
            font-size: 64px;
        }
    }

    &__Row {
        display: flex;
        flex-wrap: wrap;

        &--Center {
            justify-content: center;
        }
    }

    &__Item {
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__Image {
        width: 96px;

        @media only screen and (min-width: 1024px) {
            width: 128px;
        }
    }

    &__Description {
        margin-bottom: 2rem;
    }

    &__Right {
        width: 100%;

        @media only screen and (min-width: 1024px) {
            width: 50%;
        }
    }
}