.Gallery {
    position: relative;
    width: 100%;
    height: 250px;

    @media only screen and (min-width: 1024px) {
        height: 475px;
    }

    &__Counter {
        position: absolute;
        bottom: 0;
        text-align: center;
        color: black;
        padding: 1rem;
        font-size: 32px;
    }

    &__Entry {
        display: flex;
        width: 100%;
        height: 100%;
    }

    &__Open {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    &__Image {
        object-fit: cover;
        width: 100%;
    }

    &__Prev {
        position: absolute;
        left: 0;
        bottom: 50%;
        z-index: 101;
    }

    &__Next {
        position: absolute;
        right: 0;
        bottom: 50%;
        z-index: 101;
    }

    &__Prev, &__Next {
        cursor: pointer;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        font-size: 32px;
    }

    &__Anchor {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
    }
}