.Nav {
    position: absolute;
    background-color: transparent;
    width: 100%;
    margin-top: 1rem;
    padding-bottom: 1rem;

    &__Container {
        @media only screen and (min-width: 1024px) {
            padding: 2rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            height: 100%;
            margin: 0 auto;
        }

        @media only screen and (min-width: 1440px) {
            max-width: 1024px;
        }

        @media only screen and (min-width: 1920px) {
            max-width: 1440px;
        }
    }

    &__Left {
        display: flex;
        justify-content: left;
        width: 50%;
        
    }

    &__Right {
        display: flex;
        justify-content: right;
        width: 50%;
    }

    &__List {
        list-style-type: none;
    }

    &__Item {
        display: inline-block;
        margin-left: 2rem;
        font-size: 32px;
    }

    &__Anchor {
        text-decoration: none;
        color: white;

        &:hover {
            color: darkviolet;
        }
    }
}