.Work {
    background-color: rgb(90, 0, 129);
    color: white;
    width: 100vw;
    height: 100vh;

    &__Container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 1440px;
        height: 100%;
        margin: 0 auto;
    }

    &__Left {
        width: 50%;
    }

    &__Title {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 64px;
    }

    &__Description {
        margin-bottom: 2rem;
    }

    &__Right {
        width: 50%;
    }
}