.Work {
    background-color: rgb(90, 0, 129);
    color: white;

    &__Container {
        padding: 2rem;

        @media only screen and (min-width: 1024px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            height: 100%;
            margin: 0 auto;
        }

        @media only screen and (min-width: 1440px) {
            max-width: 1024px;
        }

        @media only screen and (min-width: 1920px) {
            max-width: 1440px;
        }
    }

    &__Left {
        width: 100%;

        @media only screen and (min-width: 1024px) {
            width: 50%;
        }
    }

    &__Title {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 32px;
        
        @media only screen and (min-width: 1024px) {
            font-size: 64px;
        }
    }

    &__SubTitle {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 24px;
        
        @media only screen and (min-width: 1024px) {
            font-size: 32px;
        }
    }

    &__Description {
        margin-bottom: 2rem;
    }

    &__Right {
        text-align: right;
        width: 100%;

        @media only screen and (min-width: 1024px) {
            width: 50%;
        }
    }

    &__Gallery {
        padding: 1rem;
    }
}