.Banner {
    background: linear-gradient(236deg, rgba(148,0,211,1) 0%, rgba(41,0,59,1) 20%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 80%, rgba(148,0,211,1) 100%);
    width: 100vw;
    height: 100vh;
    color: white;

    &__Container {
        padding: 2rem;
        padding-top: 10rem;

        @media only screen and (min-width: 1024px) {
            padding-top: 0rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            height: 100%;
            margin: 0 auto;
        }

        @media only screen and (min-width: 1440px) {
            max-width: 1024px;
        }

        @media only screen and (min-width: 1920px) {
            max-width: 1440px;
        }
    }

    &__Left {
        @media only screen and (min-width: 720px) {
            width: 100%;
        }

        @media only screen and (min-width: 1024px) {
            width: 50%;
        }
    }

    &__Title {
        font-size: 64px;
        font-weight: bold;
    }

    &__Subtitle {
        font-size: 32px;
        font-weight: bold;
    }

    &__Description {
        margin-top: 2rem;
        color: rgb(202, 202, 202);
    }

    &__Scroll {
        margin-top: 2rem;
        font-size: 20px;
    }

    &__Button {
        text-decoration: none;
        margin-left: 1rem;
        border: none;
        color: white;
        background-color: darkviolet;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        font-size: 12px;
        padding: 1rem;
    }

    &__Right {
        display: none;

        @media only screen and (min-width: 1024px) {
            justify-content: right;
            display: flex;
            width: 50%;
        }
    }

    &__Logo {
        height: 100vh;

        @media only screen and (min-width: 1921px) {
            margin-right: -15rem;
        }
    }
}